<main class="login-page justify-content-center mt-4 d-flex">
  <div data-turbo="false" class="login-button">
    <%= google_sign_in_button image_tag('google_logo.png', alt: 'Google'), proceed_to: create_login_url, class: "login-button" %>
  </div>
</main>